content .thumbnail img {
    height: 200px;
}

.rules .row .image img{
    max-height: 50px;
    max-width: 200px;
}

.rules .container {
    margin-left:10px;
}


footer {
    border-top: 1px dashed lightslategray;
}