body {
    font-size: 12pt;
}

content .thumbnail img {
    height: 200px;
}

.rules .row .image img{
    max-height: 50px;
    max-width: 200px;
}

.rules .container {
    margin-left:10px;
}

li {
    font-size:16pt;
}

li h4 {
    font-size:16pt;
}

li span {
   font-size: 12pt; 
}

footer {
    border-top: 1px dashed lightslategray;
}